.location-container {
  background-color: #ffc3bb;
  padding: 3rem 0;
}

.location-container h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--text-2xl);
}

hr.solid {
  border-top: 3px solid white;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.location-container p {
  font-size: var(--text-base);
}

.location-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.address {
  margin-bottom: 3rem;
}

.operating-hours {
  margin-bottom: 3rem;
}

.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.awards-container img {
  width: 120px;
  height: auto;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.footer-container {
  padding: 3rem 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#email {
  text-decoration: none;
  color: #444444;
}

.icon-container a {
  color: #444444;
}

.footer-content-divider {
  display: none;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content-divider {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .location {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .location-details-container,
  .awards-container {
    flex: 3;
  }

  .operating-hours-container {
    flex: 4;
  }

  .awards-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .address {
    margin-bottom: 0;
  }
}
